* {
    margin: 0px;padding: 0px;vertical-align: middle;text-align: center;
}
/*Top Bar*/
.topPanel{
    background-color: rgb(2, 27, 44);
    height: 40px; width: 100%;
    position: relative;
}
.topPanelButtons img{
    height: 30px;width: 30px;margin: 5px;
    position: absolute;
}
.topPanelButtons img#homeButton{
    left: 0px;
}
.topPanelButtons img#featuresButton{
    right: 0px;
}
.topPanelButtons img#homeButton:hover{
    transform: scale(1.1)
}
.topPanelButtons img#featuresButton:hover{
    transform: scale(1.1)
}

/*Main Descriptive Body*/
.desBody{
    overflow: hidden;
    position: absolute;
    top: 40px;right: 0px;left: 0px;bottom: 0px;
    background-image: url("/Images/BlackBG.jpg");
}
/*Left Body*/
#leftItems{
    position: absolute; inset: 0; width:  160px; margin-left: 20px;
    z-index: 20;
    color: aliceblue; 
}
.leftButtons{
    display: none;
}
/*
.leftButtons > li{
    margin-top: 30px;
    padding-top: 20px;
}
.leftButtons > li:hover{
    cursor: grab;
    font-weight: bold;
} */
/*Right Body*/
#rightItems{
    position: absolute; inset: 0; left: 0px;
    margin: 30px; margin-top: 0px; margin-right: 0px;/*border: 4px solid black; */
    background: hsl(0, 0%, 100%,0.1);
    backdrop-filter: blur(1em);
    /*transform: skew(0deg,4deg) scale(0.8);*/
}
.mapsImg{
    border: 1px solid black;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    -webkit-filter : blur(5px);
}
@keyframes slidein {
    0%{
        transform: translate(0,0);
        -webkit-filter : blur(5px);
    }
    30%{
        transform: translate(-12px,12px);
        -webkit-filter : blur(5px);
    }      
    100%{
        transform: translate(-12px,12px);
    }
}
@keyframes popin {
    0%{
        transform: translate(0,0);
        -webkit-filter : blur(5px);
    }
    30%{
        transform: translate(-12px,12px);
        -webkit-filter : blur(5px);
    }      
    100%{
        transform: translate(-12px,12px);
    }
}
@keyframes popout {
    0%{
        transform: translate(-12px,12px);
        -webkit-filter : blur(4px);
    }
    15%{
        transform: translate(-30px,30px);
        -webkit-filter : blur(0px);
    }
    70%{
        transform: translate(-30px,30px);
        -webkit-filter : blur(0px);
    }        
    100%{
        transform: translate(+2000px,15px);
        display: none;
    }
}

